<div class="container">
    <h1 class="display-4">Listado Paises</h1>
    <hr />
</div>

<div class="align-content-lg-center">
    <h1 class="display-6">Países Mundialistas</h1>
    <hr />
    <ul id="listaMundialista">
    </ul>
</div>
<hr />
<div class="align-content-lg-center">
    <h1 class="display-6">Países No Mundialistas</h1>
    <hr />
    <ul id="listaNoMundialista">
    </ul>
</div>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/mundial.js"></script>
